# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [2]:
import os
import glob
import psycopg2
import numpy as np
import pandas as pd
import datetime
from sql_queries import *
import json
from typing import Any

In [3]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [4]:
def get_files(filepath):
    all_files = []
    for root, dirs, files in os.walk(filepath):
        files = glob.glob(os.path.join(root,'*.json'))
        for f in files :
            all_files.append(os.path.abspath(f))
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [4]:
song_files = get_files("data/song_data")

In [5]:
filepath = song_files[2]

In [6]:
# df = df.append(pd.DataFrame(data = pd.read_json(filepath, lines=True)), ignore_index=True)
df = pd.read_json(filepath, lines=True)
df.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARVBRGZ1187FB4675A,NaN,,NaN,Gwen Stefani,290.55955,1,SORRZGD12A6310DBC3,Harajuku Girls,2004

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [16]:
song_data = df[['song_id', 'title', 'artist_id', 'year', 'duration']].values.tolist()
song_data

[['SOGDBUF12A8C140FAA', 'Intro', 'AR558FS1187FB45658', 2003, 75.67628],
 ['SORRZGD12A6310DBC3',
  'Harajuku Girls',
  'ARVBRGZ1187FB4675A',
  2004,
  290.55955]]

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [23]:
cur.execute(song_table_insert, song_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [24]:
df

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR8IEZO1187B99055E,NaN,,NaN,Marc Shaiman,149.86404,1,SOINLJW12A8C13314C,City Slickers,2008

In [25]:
artist_data = df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0].tolist()
artist_data

['AR8IEZO1187B99055E', 'Marc Shaiman', '', nan, nan]

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [26]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [5]:
log_files = get_files("data/log_data")

In [6]:
filepath = log_files[0]

In [7]:
df = pd.read_json(filepath, lines=True) 
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [8]:
df = df[df.page == "NextSong"]
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [10]:
t = pd.to_datetime(df['ts'], unit='ms')
t.head()
len(t)

319

In [11]:
t = t.drop_duplicates(keep="last")
len(t)

319

In [29]:
time_log = t.to_json(orient='values')
# print(json.loads(time_log)[9])
# print(datetime.datetime.fromtimestamp(json.loads(time_log)[5]/1000.0).isocalendar()[1])

'[1543449657796,1543449690796,1543449841796,1543449895796,1543450033796,1543450256796,1543450264796,1543450450796,1543450562796,1543450691796,1543450933796,1543451175796,1543451453796,1543451707796,1543452014796,1543452253796,1543452394796,1543452588796,1543453030796,1543453332796,1543453596796,1543453763796,1543453798796,1543454037796,1543454254796,1543454533796,1543454778796,1543455073796,1543455218796,1543455510796,1543455747796,1543455764796,1543456010796,1543456346796,1543456517796,1543458271796,1543458485796,1543458671796,1543458973796,1543459210796,1543460277796,1543460442796,1543460835796,1543465425796,1543465636796,1543465913796,1543467355796,1543467608796,1543479522796,1543479789796,1543483675796,1543489167796,1543489392796,1543489411796,1543489639796,1543489857796,1543494067796,1543497251796,1543499081796,1543499104796,1543499907796,1543499974796,1543499981796,1543500081796,1543500313796,1543500608796,1543500844796,1543501070796,1543501334796,1543501583796,1543501951796,1543502144796,1543502436796,1543502609796,1543502867796,1543503072796,1543503345796,1543503472796,1543503713796,1543503771796,1543503847796,1543503949796,1543504012796,1543504184796,1543504254796,1543504268796,1543504295796,1543504307796,1543504368796,1543504474796,1543504528796,1543504536796,1543504573796,1543504738796,1543504772796,1543504830796,1543504839796,1543504840796,1543504958796,1543505055796,1543505089796,1543505090796,1543505200796,1543505200796,1543505221796,1543505257796,1543505381796,1543505401796,1543505457796,1543505618796,1543505656796,1543505792796,1543505836796,1543505979796,1543506077796,1543506117796,1543506338796,1543506341796,1543506556796,1543506578796,1543506819796,1543506852796,1543507055796,1543507075796,1543507201796,1543507253796,1543507446796,1543507540796,1543507627796,1543507751796,1543507764796,1543507889796,1543508003796,1543508134796,1543508305796,1543508370796,1543508544796,1543508607796,1543508781796,1543508892796,1543509005796,1543509079796,1543509243796,1543509405796,1543509509796,1543509632796,1543509693796,1543509697796,1543509879796,1543509938796,1543510028796,1543510058796,1543510062796,1543510165796,1543510216796,1543510462796,1543510467796,1543510481796,1543510514796,1543510681796,1543510683796,1543510691796,1543510881796,1543510894796,1543510901796,1543510909796,1543510931796,1543510957796,1543511110796,1543511120796,1543511126796,1543511176796,1543511208796,1543511353796,1543511354796,1543511414796,1543511554796,1543511635796,1543511662796,1543511771796,1543511881796,1543511913796,1543511966796,1543512121796,1543512147796,1543512181796,1543512272796,1543512344796,1543512443796,1543512518796,1543512687796,1543512720796,1543512802796,1543512929796,1543512951796,1543513171796,1543513188796,1543513243796,1543513249796,1543513262796,1543513314796,1543513332796,1543513401796,1543513534796,1543513551796,1543513705796,1543513787796,1543513811796,1543513872796,1543513938796,1543514025796,1543514154796,1543514189796,1543514278796,1543514338796,1543514393796,1543514497796,1543514598796,1543514618796,1543514739796,1543514875796,1543514877796,1543514941796,1543515060796,1543515175796,1543515182796,1543515225796,1543515284796,1543515453796,1543515489796,1543515672796,1543515673796,1543515684796,1543515712796,1543515736796,1543515737796,1543515737796,1543515768796,1543515869796,1543515878796,1543515987796,1543516013796,1543516044796,1543516114796,1543516190796,1543516215796,1543516384796,1543516415796,1543516645796,1543516649796,1543516673796,1543516869796,1543517011796,1543517170796,1543517250796,1543517454796,1543517520796,1543517724796,1543517730796,1543517913796,1543518017796,1543518100796,1543518238796,1543518284796,1543518384796,1543518387796,1543518521796,1543518587796,1543518699796,1543518784796,1543518896796,1543518933796,1543518934796,1543518958796,1543518959796,1543519085796,1543519168796,1543519207796,1543519479796,1543519591796,1543519677796,1543520246796,1543520417796,1543520718796,1543520732796,1543520733796,1543521370796,1543521962796,1543522138796,1543522267796,1543522473796,1543522715796,1543522901796,1543523119796,1543523363796,1543523673796,1543523921796,1543523950796,1543524186796,1543524187796,1543524407796,1543524414796,1543524670796,1543524725796,1543524847796,1543524881796,1543525124796,1543525203796,1543525267796,1543525400796,1543525563796,1543525595796,1543525760796,1543525976796,1543525996796,1543526007796,1543526056796,1543526089796,1543526213796,1543526250796,1543526358796,1543526457796,1543526507796,1543526538796,1543526643796,1543526675796,1543526820796,1543526868796,1543526870796,1543526871796,1543526901796,1543526902796,1543526969796,1543527047796,1543527094796,1543527215796,1543527265796,1543527268796,1543527488796,1543527730796,1543528009796,1543528377796,1543528636796,1543528831796,1543529196796,1543529397796,1543529417796,1543529595796,1543529618796,1543529858796,1543530091796,1543530350796,1543530451796,1543530769796,1543530944796,1543531178796,1543531372796,1543531583796,1543531827796,1543531878796,1543532012796,1543532195796,1543532242796,1543532525796,1543532713796,1543533515796]'

In [13]:
def clean_csv_value(value: Optional[Any]) -> str:
    if value is None:
        return r'\N'
    return str(value).replace('\n', '\\n')

class StringIteratorIO(io.TextIOBase):
    def __init__(self, iter: Iterator[str]):
        self._iter = iter
        self._buff = ''

    def readable(self) -> bool:
        return True

    def _read1(self, n: Optional[int] = None) -> str:
        while not self._buff:
            try:
                self._buff = next(self._iter)
            except StopIteration:
                break
        ret = self._buff[:n]
        self._buff = self._buff[len(ret):]
        return ret

    def read(self, n: Optional[int] = None) -> str:
        line = []
        if n is None or n < 0:
            while True:
                m = self._read1()
                if not m:
                    break
                line.append(m)
        else:
            while n > 0:
                m = self._read1(n)
                if not m:
                    break
                n -= len(m)
                line.append(m)
        return ''.join(line)

In [36]:
time_string_iterator = StringIteratorIO((
    '|'.join(map(clean_csv_value, (
        datetime.datetime.fromtimestamp(log/1000.0),
        datetime.datetime.fromtimestamp(log/1000.0).hour,
        datetime.datetime.fromtimestamp(log/1000.0).day,
        datetime.datetime.fromtimestamp(log/1000.0).isocalendar()[1],
        datetime.datetime.fromtimestamp(log/1000.0).month,
        datetime.datetime.fromtimestamp(log/1000.0).year,
        datetime.datetime.fromtimestamp(log/1000.0).weekday(),
    ))) + '\n'
    for log in json.loads(time_log)
))

'2018-11-29 00:00:57.796000|0|29|48|11|2018|3\n2018-11-29 00:01:30.796000|0|29|48|11|2018|3\n2018-11-29 00:04:01.796000|0|29|48|11|2018|3\n2018-11-29 00:04:55.796000|0|29|48|11|2018|3\n2018-11-29 00:07:13.796000|0|29|48|11|2018|3\n2018-11-29 00:10:56.796000|0|29|48|11|2018|3\n2018-11-29 00:11:04.796000|0|29|48|11|2018|3\n2018-11-29 00:14:10.796000|0|29|48|11|2018|3\n2018-11-29 00:16:02.796000|0|29|48|11|2018|3\n2018-11-29 00:18:11.796000|0|29|48|11|2018|3\n2018-11-29 00:22:13.796000|0|29|48|11|2018|3\n2018-11-29 00:26:15.796000|0|29|48|11|2018|3\n2018-11-29 00:30:53.796000|0|29|48|11|2018|3\n2018-11-29 00:35:07.796000|0|29|48|11|2018|3\n2018-11-29 00:40:14.796000|0|29|48|11|2018|3\n2018-11-29 00:44:13.796000|0|29|48|11|2018|3\n2018-11-29 00:46:34.796000|0|29|48|11|2018|3\n2018-11-29 00:49:48.796000|0|29|48|11|2018|3\n2018-11-29 00:57:10.796000|0|29|48|11|2018|3\n2018-11-29 01:02:12.796000|1|29|48|11|2018|3\n2018-11-29 01:06:36.796000|1|29|48|11|2018|3\n2018-11-29 01:09:23.796000|1|29|48|11|2018|3\n2018-11-29 01:09:58.796000|1|29|48|11|2018|3\n2018-11-29 01:13:57.796000|1|29|48|11|2018|3\n2018-11-29 01:17:34.796000|1|29|48|11|2018|3\n2018-11-29 01:22:13.796000|1|29|48|11|2018|3\n2018-11-29 01:26:18.796000|1|29|48|11|2018|3\n2018-11-29 01:31:13.796000|1|29|48|11|2018|3\n2018-11-29 01:33:38.796000|1|29|48|11|2018|3\n2018-11-29 01:38:30.796000|1|29|48|11|2018|3\n2018-11-29 01:42:27.796000|1|29|48|11|2018|3\n2018-11-29 01:42:44.796000|1|29|48|11|2018|3\n2018-11-29 01:46:50.796000|1|29|48|11|2018|3\n2018-11-29 01:52:26.796000|1|29|48|11|2018|3\n2018-11-29 01:55:17.796000|1|29|48|11|2018|3\n2018-11-29 02:24:31.796000|2|29|48|11|2018|3\n2018-11-29 02:28:05.796000|2|29|48|11|2018|3\n2018-11-29 02:31:11.796000|2|29|48|11|2018|3\n2018-11-29 02:36:13.796000|2|29|48|11|2018|3\n2018-11-29 02:40:10.796000|2|29|48|11|2018|3\n2018-11-29 02:57:57.796000|2|29|48|11|2018|3\n2018-11-29 03:00:42.796000|3|29|48|11|2018|3\n2018-11-29 03:07:15.796000|3|29|48|11|2018|3\n2018-11-29 04:23:45.796000|4|29|48|11|2018|3\n2018-11-29 04:27:16.796000|4|29|48|11|2018|3\n2018-11-29 04:31:53.796000|4|29|48|11|2018|3\n2018-11-29 04:55:55.796000|4|29|48|11|2018|3\n2018-11-29 05:00:08.796000|5|29|48|11|2018|3\n2018-11-29 08:18:42.796000|8|29|48|11|2018|3\n2018-11-29 08:23:09.796000|8|29|48|11|2018|3\n2018-11-29 09:27:55.796000|9|29|48|11|2018|3\n2018-11-29 10:59:27.796000|10|29|48|11|2018|3\n2018-11-29 11:03:12.796000|11|29|48|11|2018|3\n2018-11-29 11:03:31.796000|11|29|48|11|2018|3\n2018-11-29 11:07:19.796000|11|29|48|11|2018|3\n2018-11-29 11:10:57.796000|11|29|48|11|2018|3\n2018-11-29 12:21:07.796000|12|29|48|11|2018|3\n2018-11-29 13:14:11.796000|13|29|48|11|2018|3\n2018-11-29 13:44:41.796000|13|29|48|11|2018|3\n2018-11-29 13:45:04.796000|13|29|48|11|2018|3\n2018-11-29 13:58:27.796000|13|29|48|11|2018|3\n2018-11-29 13:59:34.796000|13|29|48|11|2018|3\n2018-11-29 13:59:41.796000|13|29|48|11|2018|3\n2018-11-29 14:01:21.796000|14|29|48|11|2018|3\n2018-11-29 14:05:13.796000|14|29|48|11|2018|3\n2018-11-29 14:10:08.796000|14|29|48|11|2018|3\n2018-11-29 14:14:04.796000|14|29|48|11|2018|3\n2018-11-29 14:17:50.796000|14|29|48|11|2018|3\n2018-11-29 14:22:14.796000|14|29|48|11|2018|3\n2018-11-29 14:26:23.796000|14|29|48|11|2018|3\n2018-11-29 14:32:31.796000|14|29|48|11|2018|3\n2018-11-29 14:35:44.796000|14|29|48|11|2018|3\n2018-11-29 14:40:36.796000|14|29|48|11|2018|3\n2018-11-29 14:43:29.796000|14|29|48|11|2018|3\n2018-11-29 14:47:47.796000|14|29|48|11|2018|3\n2018-11-29 14:51:12.796000|14|29|48|11|2018|3\n2018-11-29 14:55:45.796000|14|29|48|11|2018|3\n2018-11-29 14:57:52.796000|14|29|48|11|2018|3\n2018-11-29 15:01:53.796000|15|29|48|11|2018|3\n2018-11-29 15:02:51.796000|15|29|48|11|2018|3\n2018-11-29 15:04:07.796000|15|29|48|11|2018|3\n2018-11-29 15:05:49.796000|15|29|48|11|2018|3\n2018-11-29 15:06:52.796000|15|29|48|11|2018|3\n2018-11-29 15:09:44.796000|15|29|48|11|2018|3\n2018-11-29 15:10:54.796000|15|29|48|11|2018|3\n2018-11-29 15:11:08.796000|15|29|48|11|2018|3\n2018-11-29 15:11:35.796000|15|29|48|11|2018|3\n2018-11-29 15:11:47.796000|15|29|48|11|2018|3\n2018-11-29 15:12:48.796000|15|29|48|11|2018|3\n2018-11-29 15:14:34.796000|15|29|48|11|2018|3\n2018-11-29 15:15:28.796000|15|29|48|11|2018|3\n2018-11-29 15:15:36.796000|15|29|48|11|2018|3\n2018-11-29 15:16:13.796000|15|29|48|11|2018|3\n2018-11-29 15:18:58.796000|15|29|48|11|2018|3\n2018-11-29 15:19:32.796000|15|29|48|11|2018|3\n2018-11-29 15:20:30.796000|15|29|48|11|2018|3\n2018-11-29 15:20:39.796000|15|29|48|11|2018|3\n2018-11-29 15:20:40.796000|15|29|48|11|2018|3\n2018-11-29 15:22:38.796000|15|29|48|11|2018|3\n2018-11-29 15:24:15.796000|15|29|48|11|2018|3\n2018-11-29 15:24:49.796000|15|29|48|11|2018|3\n2018-11-29 15:24:50.796000|15|29|48|11|2018|3\n2018-11-29 15:26:40.796000|15|29|48|11|2018|3\n2018-11-29 15:26:40.796000|15|29|48|11|2018|3\n2018-11-29 15:27:01.796000|15|29|48|11|2018|3\n2018-11-29 15:27:37.796000|15|29|48|11|2018|3\n2018-11-29 15:29:41.796000|15|29|48|11|2018|3\n2018-11-29 15:30:01.796000|15|29|48|11|2018|3\n2018-11-29 15:30:57.796000|15|29|48|11|2018|3\n2018-11-29 15:33:38.796000|15|29|48|11|2018|3\n2018-11-29 15:34:16.796000|15|29|48|11|2018|3\n2018-11-29 15:36:32.796000|15|29|48|11|2018|3\n2018-11-29 15:37:16.796000|15|29|48|11|2018|3\n2018-11-29 15:39:39.796000|15|29|48|11|2018|3\n2018-11-29 15:41:17.796000|15|29|48|11|2018|3\n2018-11-29 15:41:57.796000|15|29|48|11|2018|3\n2018-11-29 15:45:38.796000|15|29|48|11|2018|3\n2018-11-29 15:45:41.796000|15|29|48|11|2018|3\n2018-11-29 15:49:16.796000|15|29|48|11|2018|3\n2018-11-29 15:49:38.796000|15|29|48|11|2018|3\n2018-11-29 15:53:39.796000|15|29|48|11|2018|3\n2018-11-29 15:54:12.796000|15|29|48|11|2018|3\n2018-11-29 15:57:35.796000|15|29|48|11|2018|3\n2018-11-29 15:57:55.796000|15|29|48|11|2018|3\n2018-11-29 16:00:01.796000|16|29|48|11|2018|3\n2018-11-29 16:00:53.796000|16|29|48|11|2018|3\n2018-11-29 16:04:06.796000|16|29|48|11|2018|3\n2018-11-29 16:05:40.796000|16|29|48|11|2018|3\n2018-11-29 16:07:07.796000|16|29|48|11|2018|3\n2018-11-29 16:09:11.796000|16|29|48|11|2018|3\n2018-11-29 16:09:24.796000|16|29|48|11|2018|3\n2018-11-29 16:11:29.796000|16|29|48|11|2018|3\n2018-11-29 16:13:23.796000|16|29|48|11|2018|3\n2018-11-29 16:15:34.796000|16|29|48|11|2018|3\n2018-11-29 16:18:25.796000|16|29|48|11|2018|3\n2018-11-29 16:19:30.796000|16|29|48|11|2018|3\n2018-11-29 16:22:24.796000|16|29|48|11|2018|3\n2018-11-29 16:23:27.796000|16|29|48|11|2018|3\n2018-11-29 16:26:21.796000|16|29|48|11|2018|3\n2018-11-29 16:28:12.796000|16|29|48|11|2018|3\n2018-11-29 16:30:05.796000|16|29|48|11|2018|3\n2018-11-29 16:31:19.796000|16|29|48|11|2018|3\n2018-11-29 16:34:03.796000|16|29|48|11|2018|3\n2018-11-29 16:36:45.796000|16|29|48|11|2018|3\n2018-11-29 16:38:29.796000|16|29|48|11|2018|3\n2018-11-29 16:40:32.796000|16|29|48|11|2018|3\n2018-11-29 16:41:33.796000|16|29|48|11|2018|3\n2018-11-29 16:41:37.796000|16|29|48|11|2018|3\n2018-11-29 16:44:39.796000|16|29|48|11|2018|3\n2018-11-29 16:45:38.796000|16|29|48|11|2018|3\n2018-11-29 16:47:08.796000|16|29|48|11|2018|3\n2018-11-29 16:47:38.796000|16|29|48|11|2018|3\n2018-11-29 16:47:42.796000|16|29|48|11|2018|3\n2018-11-29 16:49:25.796000|16|29|48|11|2018|3\n2018-11-29 16:50:16.796000|16|29|48|11|2018|3\n2018-11-29 16:54:22.796000|16|29|48|11|2018|3\n2018-11-29 16:54:27.796000|16|29|48|11|2018|3\n2018-11-29 16:54:41.796000|16|29|48|11|2018|3\n2018-11-29 16:55:14.796000|16|29|48|11|2018|3\n2018-11-29 16:58:01.796000|16|29|48|11|2018|3\n2018-11-29 16:58:03.796000|16|29|48|11|2018|3\n2018-11-29 16:58:11.796000|16|29|48|11|2018|3\n2018-11-29 17:01:21.796000|17|29|48|11|2018|3\n2018-11-29 17:01:34.796000|17|29|48|11|2018|3\n2018-11-29 17:01:41.796000|17|29|48|11|2018|3\n2018-11-29 17:01:49.796000|17|29|48|11|2018|3\n2018-11-29 17:02:11.796000|17|29|48|11|2018|3\n2018-11-29 17:02:37.796000|17|29|48|11|2018|3\n2018-11-29 17:05:10.796000|17|29|48|11|2018|3\n2018-11-29 17:05:20.796000|17|29|48|11|2018|3\n2018-11-29 17:05:26.796000|17|29|48|11|2018|3\n2018-11-29 17:06:16.796000|17|29|48|11|2018|3\n2018-11-29 17:06:48.796000|17|29|48|11|2018|3\n2018-11-29 17:09:13.796000|17|29|48|11|2018|3\n2018-11-29 17:09:14.796000|17|29|48|11|2018|3\n2018-11-29 17:10:14.796000|17|29|48|11|2018|3\n2018-11-29 17:12:34.796000|17|29|48|11|2018|3\n2018-11-29 17:13:55.796000|17|29|48|11|2018|3\n2018-11-29 17:14:22.796000|17|29|48|11|2018|3\n2018-11-29 17:16:11.796000|17|29|48|11|2018|3\n2018-11-29 17:18:01.796000|17|29|48|11|2018|3\n2018-11-29 17:18:33.796000|17|29|48|11|2018|3\n2018-11-29 17:19:26.796000|17|29|48|11|2018|3\n2018-11-29 17:22:01.796000|17|29|48|11|2018|3\n2018-11-29 17:22:27.796000|17|29|48|11|2018|3\n2018-11-29 17:23:01.796000|17|29|48|11|2018|3\n2018-11-29 17:24:32.796000|17|29|48|11|2018|3\n2018-11-29 17:25:44.796000|17|29|48|11|2018|3\n2018-11-29 17:27:23.796000|17|29|48|11|2018|3\n2018-11-29 17:28:38.796000|17|29|48|11|2018|3\n2018-11-29 17:31:27.796000|17|29|48|11|2018|3\n2018-11-29 17:32:00.796000|17|29|48|11|2018|3\n2018-11-29 17:33:22.796000|17|29|48|11|2018|3\n2018-11-29 17:35:29.796000|17|29|48|11|2018|3\n2018-11-29 17:35:51.796000|17|29|48|11|2018|3\n2018-11-29 17:39:31.796000|17|29|48|11|2018|3\n2018-11-29 17:39:48.796000|17|29|48|11|2018|3\n2018-11-29 17:40:43.796000|17|29|48|11|2018|3\n2018-11-29 17:40:49.796000|17|29|48|11|2018|3\n2018-11-29 17:41:02.796000|17|29|48|11|2018|3\n2018-11-29 17:41:54.796000|17|29|48|11|2018|3\n2018-11-29 17:42:12.796000|17|29|48|11|2018|3\n2018-11-29 17:43:21.796000|17|29|48|11|2018|3\n2018-11-29 17:45:34.796000|17|29|48|11|2018|3\n2018-11-29 17:45:51.796000|17|29|48|11|2018|3\n2018-11-29 17:48:25.796000|17|29|48|11|2018|3\n2018-11-29 17:49:47.796000|17|29|48|11|2018|3\n2018-11-29 17:50:11.796000|17|29|48|11|2018|3\n2018-11-29 17:51:12.796000|17|29|48|11|2018|3\n2018-11-29 17:52:18.796000|17|29|48|11|2018|3\n2018-11-29 17:53:45.796000|17|29|48|11|2018|3\n2018-11-29 17:55:54.796000|17|29|48|11|2018|3\n2018-11-29 17:56:29.796000|17|29|48|11|2018|3\n2018-11-29 17:57:58.796000|17|29|48|11|2018|3\n2018-11-29 17:58:58.796000|17|29|48|11|2018|3\n2018-11-29 17:59:53.796000|17|29|48|11|2018|3\n2018-11-29 18:01:37.796000|18|29|48|11|2018|3\n2018-11-29 18:03:18.796000|18|29|48|11|2018|3\n2018-11-29 18:03:38.796000|18|29|48|11|2018|3\n2018-11-29 18:05:39.796000|18|29|48|11|2018|3\n2018-11-29 18:07:55.796000|18|29|48|11|2018|3\n2018-11-29 18:07:57.796000|18|29|48|11|2018|3\n2018-11-29 18:09:01.796000|18|29|48|11|2018|3\n2018-11-29 18:11:00.796000|18|29|48|11|2018|3\n2018-11-29 18:12:55.796000|18|29|48|11|2018|3\n2018-11-29 18:13:02.796000|18|29|48|11|2018|3\n2018-11-29 18:13:45.796000|18|29|48|11|2018|3\n2018-11-29 18:14:44.796000|18|29|48|11|2018|3\n2018-11-29 18:17:33.796000|18|29|48|11|2018|3\n2018-11-29 18:18:09.796000|18|29|48|11|2018|3\n2018-11-29 18:21:12.796000|18|29|48|11|2018|3\n2018-11-29 18:21:13.796000|18|29|48|11|2018|3\n2018-11-29 18:21:24.796000|18|29|48|11|2018|3\n2018-11-29 18:21:52.796000|18|29|48|11|2018|3\n2018-11-29 18:22:16.796000|18|29|48|11|2018|3\n2018-11-29 18:22:17.796000|18|29|48|11|2018|3\n2018-11-29 18:22:17.796000|18|29|48|11|2018|3\n2018-11-29 18:22:48.796000|18|29|48|11|2018|3\n2018-11-29 18:24:29.796000|18|29|48|11|2018|3\n2018-11-29 18:24:38.796000|18|29|48|11|2018|3\n2018-11-29 18:26:27.796000|18|29|48|11|2018|3\n2018-11-29 18:26:53.796000|18|29|48|11|2018|3\n2018-11-29 18:27:24.796000|18|29|48|11|2018|3\n2018-11-29 18:28:34.796000|18|29|48|11|2018|3\n2018-11-29 18:29:50.796000|18|29|48|11|2018|3\n2018-11-29 18:30:15.796000|18|29|48|11|2018|3\n2018-11-29 18:33:04.796000|18|29|48|11|2018|3\n2018-11-29 18:33:35.796000|18|29|48|11|2018|3\n2018-11-29 18:37:25.796000|18|29|48|11|2018|3\n2018-11-29 18:37:29.796000|18|29|48|11|2018|3\n2018-11-29 18:37:53.796000|18|29|48|11|2018|3\n2018-11-29 18:41:09.796000|18|29|48|11|2018|3\n2018-11-29 18:43:31.796000|18|29|48|11|2018|3\n2018-11-29 18:46:10.796000|18|29|48|11|2018|3\n2018-11-29 18:47:30.796000|18|29|48|11|2018|3\n2018-11-29 18:50:54.796000|18|29|48|11|2018|3\n2018-11-29 18:52:00.796000|18|29|48|11|2018|3\n2018-11-29 18:55:24.796000|18|29|48|11|2018|3\n2018-11-29 18:55:30.796000|18|29|48|11|2018|3\n2018-11-29 18:58:33.796000|18|29|48|11|2018|3\n2018-11-29 19:00:17.796000|19|29|48|11|2018|3\n2018-11-29 19:01:40.796000|19|29|48|11|2018|3\n2018-11-29 19:03:58.796000|19|29|48|11|2018|3\n2018-11-29 19:04:44.796000|19|29|48|11|2018|3\n2018-11-29 19:06:24.796000|19|29|48|11|2018|3\n2018-11-29 19:06:27.796000|19|29|48|11|2018|3\n2018-11-29 19:08:41.796000|19|29|48|11|2018|3\n2018-11-29 19:09:47.796000|19|29|48|11|2018|3\n2018-11-29 19:11:39.796000|19|29|48|11|2018|3\n2018-11-29 19:13:04.796000|19|29|48|11|2018|3\n2018-11-29 19:14:56.796000|19|29|48|11|2018|3\n2018-11-29 19:15:33.796000|19|29|48|11|2018|3\n2018-11-29 19:15:34.796000|19|29|48|11|2018|3\n2018-11-29 19:15:58.796000|19|29|48|11|2018|3\n2018-11-29 19:15:59.796000|19|29|48|11|2018|3\n2018-11-29 19:18:05.796000|19|29|48|11|2018|3\n2018-11-29 19:19:28.796000|19|29|48|11|2018|3\n2018-11-29 19:20:07.796000|19|29|48|11|2018|3\n2018-11-29 19:24:39.796000|19|29|48|11|2018|3\n2018-11-29 19:26:31.796000|19|29|48|11|2018|3\n2018-11-29 19:27:57.796000|19|29|48|11|2018|3\n2018-11-29 19:37:26.796000|19|29|48|11|2018|3\n2018-11-29 19:40:17.796000|19|29|48|11|2018|3\n2018-11-29 19:45:18.796000|19|29|48|11|2018|3\n2018-11-29 19:45:32.796000|19|29|48|11|2018|3\n2018-11-29 19:45:33.796000|19|29|48|11|2018|3\n2018-11-29 19:56:10.796000|19|29|48|11|2018|3\n2018-11-29 20:06:02.796000|20|29|48|11|2018|3\n2018-11-29 20:08:58.796000|20|29|48|11|2018|3\n2018-11-29 20:11:07.796000|20|29|48|11|2018|3\n2018-11-29 20:14:33.796000|20|29|48|11|2018|3\n2018-11-29 20:18:35.796000|20|29|48|11|2018|3\n2018-11-29 20:21:41.796000|20|29|48|11|2018|3\n2018-11-29 20:25:19.796000|20|29|48|11|2018|3\n2018-11-29 20:29:23.796000|20|29|48|11|2018|3\n2018-11-29 20:34:33.796000|20|29|48|11|2018|3\n2018-11-29 20:38:41.796000|20|29|48|11|2018|3\n2018-11-29 20:39:10.796000|20|29|48|11|2018|3\n2018-11-29 20:43:06.796000|20|29|48|11|2018|3\n2018-11-29 20:43:07.796000|20|29|48|11|2018|3\n2018-11-29 20:46:47.796000|20|29|48|11|2018|3\n2018-11-29 20:46:54.796000|20|29|48|11|2018|3\n2018-11-29 20:51:10.796000|20|29|48|11|2018|3\n2018-11-29 20:52:05.796000|20|29|48|11|2018|3\n2018-11-29 20:54:07.796000|20|29|48|11|2018|3\n2018-11-29 20:54:41.796000|20|29|48|11|2018|3\n2018-11-29 20:58:44.796000|20|29|48|11|2018|3\n2018-11-29 21:00:03.796000|21|29|48|11|2018|3\n2018-11-29 21:01:07.796000|21|29|48|11|2018|3\n2018-11-29 21:03:20.796000|21|29|48|11|2018|3\n2018-11-29 21:06:03.796000|21|29|48|11|2018|3\n2018-11-29 21:06:35.796000|21|29|48|11|2018|3\n2018-11-29 21:09:20.796000|21|29|48|11|2018|3\n2018-11-29 21:12:56.796000|21|29|48|11|2018|3\n2018-11-29 21:13:16.796000|21|29|48|11|2018|3\n2018-11-29 21:13:27.796000|21|29|48|11|2018|3\n2018-11-29 21:14:16.796000|21|29|48|11|2018|3\n2018-11-29 21:14:49.796000|21|29|48|11|2018|3\n2018-11-29 21:16:53.796000|21|29|48|11|2018|3\n2018-11-29 21:17:30.796000|21|29|48|11|2018|3\n2018-11-29 21:19:18.796000|21|29|48|11|2018|3\n2018-11-29 21:20:57.796000|21|29|48|11|2018|3\n2018-11-29 21:21:47.796000|21|29|48|11|2018|3\n2018-11-29 21:22:18.796000|21|29|48|11|2018|3\n2018-11-29 21:24:03.796000|21|29|48|11|2018|3\n2018-11-29 21:24:35.796000|21|29|48|11|2018|3\n2018-11-29 21:27:00.796000|21|29|48|11|2018|3\n2018-11-29 21:27:48.796000|21|29|48|11|2018|3\n2018-11-29 21:27:50.796000|21|29|48|11|2018|3\n2018-11-29 21:27:51.796000|21|29|48|11|2018|3\n2018-11-29 21:28:21.796000|21|29|48|11|2018|3\n2018-11-29 21:28:22.796000|21|29|48|11|2018|3\n2018-11-29 21:29:29.796000|21|29|48|11|2018|3\n2018-11-29 21:30:47.796000|21|29|48|11|2018|3\n2018-11-29 21:31:34.796000|21|29|48|11|2018|3\n2018-11-29 21:33:35.796000|21|29|48|11|2018|3\n2018-11-29 21:34:25.796000|21|29|48|11|2018|3\n2018-11-29 21:34:28.796000|21|29|48|11|2018|3\n2018-11-29 21:38:08.796000|21|29|48|11|2018|3\n2018-11-29 21:42:10.796000|21|29|48|11|2018|3\n2018-11-29 21:46:49.796000|21|29|48|11|2018|3\n2018-11-29 21:52:57.796000|21|29|48|11|2018|3\n2018-11-29 21:57:16.796000|21|29|48|11|2018|3\n2018-11-29 22:00:31.796000|22|29|48|11|2018|3\n2018-11-29 22:06:36.796000|22|29|48|11|2018|3\n2018-11-29 22:09:57.796000|22|29|48|11|2018|3\n2018-11-29 22:10:17.796000|22|29|48|11|2018|3\n2018-11-29 22:13:15.796000|22|29|48|11|2018|3\n2018-11-29 22:13:38.796000|22|29|48|11|2018|3\n2018-11-29 22:17:38.796000|22|29|48|11|2018|3\n2018-11-29 22:21:31.796000|22|29|48|11|2018|3\n2018-11-29 22:25:50.796000|22|29|48|11|2018|3\n2018-11-29 22:27:31.796000|22|29|48|11|2018|3\n2018-11-29 22:32:49.796000|22|29|48|11|2018|3\n2018-11-29 22:35:44.796000|22|29|48|11|2018|3\n2018-11-29 22:39:38.796000|22|29|48|11|2018|3\n2018-11-29 22:42:52.796000|22|29|48|11|2018|3\n2018-11-29 22:46:23.796000|22|29|48|11|2018|3\n2018-11-29 22:50:27.796000|22|29|48|11|2018|3\n2018-11-29 22:51:18.796000|22|29|48|11|2018|3\n2018-11-29 22:53:32.796000|22|29|48|11|2018|3\n2018-11-29 22:56:35.796000|22|29|48|11|2018|3\n2018-11-29 22:57:22.796000|22|29|48|11|2018|3\n2018-11-29 23:02:05.796000|23|29|48|11|2018|3\n2018-11-29 23:05:13.796000|23|29|48|11|2018|3\n2018-11-29 23:18:35.796000|23|29|48|11|2018|3\n'

In [32]:
# 
time_data = (t.tolist(), t.dt.hour.tolist(), t.dt.day.tolist(), t.dt.week.tolist(), t.dt.month.tolist(),t.dt.year.tolist(),t.dt.weekday.tolist())
column_labels = ('timestamp', 'hour', 'day', 'week_of_year', 'month', 'year', 'weekday')

In [33]:
time_dict = {column_labels[i] : time_data[i] for i, _ in enumerate(column_labels)}
time_df = pd.DataFrame.from_dict(time_dict)
# time_df = time_df.astype({'timestamp':'str'})
time_df.head()

                timestamp  hour  day  week_of_year  month  year  weekday
0 2018-11-29 00:00:57.796     0   29            48     11  2018        3
1 2018-11-29 00:01:30.796     0   29            48     11  2018        3
2 2018-11-29 00:04:01.796     0   29            48     11  2018        3
3 2018-11-29 00:04:55.796     0   29            48     11  2018        3
4 2018-11-29 00:07:13.796     0   29            48     11  2018        3

In [34]:
time_df.dtypes

timestamp       datetime64[ns]
hour                     int64
day                      int64
week_of_year             int64
month                    int64
year                     int64
weekday                  int64
dtype: object

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [35]:
for i, row in time_df.head().iterrows():    
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [12]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [20]:
user_df = df[['userId', 'firstName', 'lastName', 'gender', 'level']]

In [21]:
user_df[user_df['userId']==""]
# there is empty userid
# I assummed that this is an error
# So I decided not to put these into the users table

Empty DataFrame
Columns: [userId, firstName, lastName, gender, level]
Index: []

In [14]:
# user_df[user_df['userId']==''] = np.nan
user_df.replace('', np.nan, inplace=True)
user_df.dropna(subset=['userId'])
user_df[user_df['userId']==""]

/opt/conda/lib/python3.6/site-packages/pandas/core/frame.py:3798: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  method=method)

Empty DataFrame
Columns: [userId, firstName, lastName, gender, level]
Index: []

In [22]:
user_df.head()

  userId firstName lastName gender level
0     73     Jacob    Klein      M  paid
1     24     Layla  Griffin      F  paid
2     24     Layla  Griffin      F  paid
3     73     Jacob    Klein      M  paid
4     24     Layla  Griffin      F  paid

In [23]:
user_df = user_df.drop_duplicates(subset = 'userId' , keep="last")
len(user_df)
user_df.head()

   userId firstName  lastName gender level
7      73     Jacob     Klein      M  paid
21     50       Ava  Robinson      F  free
34     24     Layla   Griffin      F  paid
39     54     Kaleb      Cook      M  free
47     14  Theodore    Harris      M  free

In [16]:
from typing import Iterator, Dict, Any

def clean_csv_value(value: Optional[Any]) -> str:
    if value is None:
        return r'\N'
    return str(value).replace('\n', '\\n')

In [37]:
user_log = user_df.to_json(orient='values')
json.loads(user_log)

[['73', 'Jacob', 'Klein', 'M', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['73', 'Jacob', 'Klein', 'M', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['73', 'Jacob', 'Klein', 'M', 'paid'],
 ['73', 'Jacob', 'Klein', 'M', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['50', 'Ava', 'Robinson', 'F', 'free'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['24', 'Layla', 'Griffin', 'F', 'paid'],
 ['54', 'Kaleb', 'Cook', 'M', 'free'],
 ['54', 'Kaleb', 'Cook', 'M', 'free'],
 ['54', 'Kaleb', 'Cook', 'M', 'free'],
 ['54', 'Kaleb', 'Cook', 'M', 'free'],
 ['54', 'Kaleb', 'Cook', 'M', 'free'],
 ['32', 'Lily', 'Burns', 'F', 'free'],
 ['32', 'Lily', 'Burns', 'F', 'free'],
 ['4', 'Alivia', 'Terrell', 'F', 'free'],
 ['52', 'Theodore', 'Smith', 'M', 'free'],
 ['52', 'Theodore', 'Smith', 'M', 'free'],
 ['52', 'Theodore', 'Smith', 'M', 'free'],
 ['14', 'Theodore', 'Harris', 'M', 'free'],
 ['14', 'Theodore', 'Harris', 'M', 'free'],
 ['98', 'Jordyn', 'Powell', 'F', 'free'],
 ['98', 'Jordyn', 'Powell', 'F', 'free'],
 ['32', 'Lily', 'Burns', 'F', 'free'],
 ['101', 'Jayden', 'Fox', 'M', 'free'],
 ['101', 'Jayden', 'Fox', 'M', 'free'],
 ['78', 'Chloe', 'Roth', 'F', 'free'],
 ['101', 'Jayden', 'Fox', 'M', 'free'],
 ['101', 'Jayden', 'Fox', 'M', 'free'],
 ['10', 'Sylvie', 'Cruz', 'F', 'free'],
 ['52', 'Theodore', 'Smith', 'M', 'free'],
 ['53', 'Celeste', 'Williams', 'F', 'free'],
 ['61', 'Samuel', 'Gonzalez', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 [None, None, None, None, 'paid'],
 [None, None, None, None, 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 [None, None, None, None, 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['32', 'Lily', 'Burns', 'F', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['32', 'Lily', 'Burns', 'F', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['79', 'James', 'Martin', 'M', 'free'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 [None, None, None, None, 'free'],
 [None, None, None, None, 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['26', 'Ryan', 'Smith', 'M', 'free'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['44', 'Aleena', 'Kirby', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['44', 'Aleena', 'Kirby', 'F', 'paid'],
 ['44', 'Aleena', 'Kirby', 'F', 'paid'],
 ['44', 'Aleena', 'Kirby', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['44', 'Aleena', 'Kirby', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['4', 'Alivia', 'Terrell', 'F', 'free'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['75', 'Joseph', 'Gutierrez', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['75', 'Joseph', 'Gutierrez', 'M', 'free'],
 ['75', 'Joseph', 'Gutierrez', 'M', 'free'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['39', 'Walter', 'Frye', 'M', 'free'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['75', 'Joseph', 'Gutierrez', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['44', 'Aleena', 'Kirby', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 [None, None, None, None, 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 [None, None, None, None, 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 [None, None, None, None, 'paid'],
 [None, None, None, None, 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['82', 'Avery', 'Martinez', 'F', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 [None, None, None, None, 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 ['16', 'Rylan', 'George', 'M', 'paid'],
 [None, None, None, None, 'paid'],
 [None, None, None, None, 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['55', 'Martin', 'Johnson', 'M', 'free'],
 ['55', 'Martin', 'Johnson', 'M', 'free'],
 ['55', 'Martin', 'Johnson', 'M', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['55', 'Martin', 'Johnson', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['55', 'Martin', 'Johnson', 'M', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['55', 'Martin', 'Johnson', 'M', 'free'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['12', 'Austin', 'Rosales', 'M', 'free'],
 ['12', 'Austin', 'Rosales', 'M', 'free'],
 [None, None, None, None, 'free'],
 [None, None, None, None, 'free'],
 ['12', 'Austin', 'Rosales', 'M', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['49', 'Chloe', 'Cuevas', 'F', 'paid'],
 ['9', 'Wyatt', 'Scott', 'M', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['9', 'Wyatt', 'Scott', 'M', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['22', 'Sean', 'Wilson', 'F', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['22', 'Sean', 'Wilson', 'F', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['74', 'Braden', 'Parker', 'M', 'free'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['80', 'Tegan', 'Levine', 'F', 'paid'],
 ['89', 'Kynnedi', 'Sanchez', 'F', 'free']]

In [38]:
user_string_iterator = StringIteratorIO((
    '|'.join(map(clean_csv_value, (
        log[0],
        log[1],
        log[2],
        log[3],
        log[4],
    ))) + '\n'
    for log in json.loads(user_log)
))

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [18]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [7]:
df.head()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Sydney Youngblood,Logged In,Jacob,M,53,Klein,238.07955,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,Ain't No Sunshine,200,1543449657796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
1,Gang Starr,Logged In,Layla,F,88,Griffin,151.92771,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My Advice 2 You (Explicit),200,1543449690796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
2,3OH!3,Logged In,Layla,F,89,Griffin,192.52200,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,My First Kiss (Feat. Ke$ha) [Album Version],200,1543449841796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24
3,RÃÂ¶yksopp,Logged In,Jacob,M,54,Klein,369.81506,paid,"Tampa-St. Petersburg-Clearwater, FL",PUT,NextSong,1.540558e+12,954,The Girl and The Robot,200,1543449895796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",73
4,Kajagoogoo,Logged In,Layla,F,90,Griffin,223.55546,paid,"Lake Havasu City-Kingman, AZ",PUT,NextSong,1.541057e+12,984,Too Shy,200,1543450033796,"""Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebK...",24

In [10]:
for index, row in df.head().iterrows():
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None
        
    print(songid, artistid)

InternalError: current transaction is aborted, commands ignored until end of transaction block

In [14]:
# import numpy as np
# df.replace('', np.nan, inplace=True)
# df.dropna(subset=['userId'], inplace=True)
# df[df['userId']==""]

Empty DataFrame
Columns: [artist, auth, firstName, gender, itemInSession, lastName, length, level, location, method, page, registration, sessionId, song, status, ts, userAgent, userId]
Index: []

In [19]:
s = ""
for index, row in df.iterrows():
    
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()

    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    if row['userId']=="":
        row['userId'] = None
    
    s += '|'.join(map(clean_csv_value, (
            pd.Timestamp(row[row.index.get_loc("ts")]), 
            row[row.index.get_loc("userId")],
            row[row.index.get_loc("level")],
            songid,  
            artistid,
            row[row.index.get_loc("sessionId")],
            row[row.index.get_loc("location")],  
            row[row.index.get_loc("userAgent")],
            ))) + '\n'
    
    if index == 2:
        break

print(StringIteratorIO(s))
print(s)
#     log = row.to_json(orient='values')
    
#     songplay_string_iterator = StringIteratorIO((
#     '|'.join(map(clean_csv_value, (
#         userdata[0],
#         userdata[1],
#         userdata[2],
#         userdata[3],
#         userdata[4],
#     ))) + '\n'
#     ))

<__main__.StringIteratorIO object at 0x7fca50868198>
1970-01-01 00:25:43.449657796|73|paid|\N|\N|954|Tampa-St. Petersburg-Clearwater, FL|"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"
1970-01-01 00:25:43.449690796|24|paid|\N|\N|984|Lake Havasu City-Kingman, AZ|"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"
1970-01-01 00:25:43.449841796|24|paid|\N|\N|984|Lake Havasu City-Kingman, AZ|"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"

In [15]:
for index, row in df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        songid, artistid = results
    else:
        songid, artistid = None, None

    if row['userId']=="":
        row['userId'] = None

    # insert songplay record
    songplay_data = (pd.Timestamp(row.ts), row.userId, row.level, songid,  artistid, row.sessionId, row.location, row.userAgent)
    cur.execute(songplay_table_insert, songplay_data)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [16]:
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.